<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--数据库连接字符串-->
    <add key="DBConnString" value="Data Source=192.168.10.74;database=RepertoryDB;uid=sa;pwd=123456;"/>
    <add key="DBExecTimeout" value="180" />
    <!--数据访问层对象-->
    <add key="DAL" value="Edward.DAL.SQLServer" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>